# Gradle
.gradle/
.gradle-user-home/
build/
**/build/

# Android Studio
.idea/
*.iml
local.properties

# Native build
.externalNativeBuild/
.cxx/

# Captures
captures/

# Kotlin/Java build output
*.class
*.jar
*.war
*.ear

# Logs
*.log

# OS
.DS_Store
Thumbs.db
